.searchTop{
    margin-top: 2% !important;
}

.course-list{
    text-align: center;
}
.enrol-completion{
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 7px 0;
}

.course-detail{
    margin-top: 2% !important;
    text-align: center;
}